
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.cank-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.cank-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.cank-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.cank-image-png{max-width:50%;height:relative}img{vertical-align:middle}a{color:inherit}
.cank-table,.cank-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.cank-table-all{border:1px solid #ccc}
.cank-bordered tr,.cank-table-all tr{border-bottom:1px solid #ddd}.cank-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.cank-table-all tr:nth-child(odd){background-color:#fff}.cank-table-all tr:nth-child(even){background-color:#f1f1f1}
.cank-hoverable tbody tr:hover,.cank-ul.cank-hoverable li:hover{background-color:#ccc}.cank-centered tr th,.cank-centered tr td{text-align:center}
.cank-table td,.cank-table th,.cank-table-all td,.cank-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.cank-table th:first-child,.cank-table td:first-child,.cank-table-all th:first-child,.cank-table-all td:first-child{padding-left:16px}
.cank-btn,.cank-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.cank-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.cank-btn,.cank-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.cank-disabled,.cank-btn:disabled,.cank-button:disabled{cursor:not-allowed;opacity:0.3}.cank-disabled *,:disabled *{pointer-events:none}
.cank-btn.cank-disabled:hover,.cank-btn:disabled:hover{box-shadow:none}
.cank-badge,.cank-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.cank-badge{border-radius:50%}
.cank-ul{list-style-type:none;padding:0;margin:0}.cank-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.cank-ul li:last-child{border-bottom:none}
.cank-tooltip,.cank-display-container{position:relative}.cank-tooltip .cank-text{display:none}.cank-tooltip:hover .cank-text{display:inline-block}
.cank-ripple:active{opacity:0.5}.cank-ripple{transition:opacity 0s}
.cank-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.cank-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.cank-dropdown-click,.cank-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.cank-dropdown-hover:hover .cank-dropdown-content{display:block}
.cank-dropdown-hover:first-child,.cank-dropdown-click:hover{background-color:#ccc;color:#000}
.cank-dropdown-hover:hover > .cank-button:first-child,.cank-dropdown-click:hover > .cank-button:first-child{background-color:#ccc;color:#000}
.cank-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.cank-check,.cank-radio{width:24px;height:24px;position:relative;top:6px}
.cank-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.cank-bar-block .cank-dropdown-hover,.cank-bar-block .cank-dropdown-click{width:100%}
.cank-bar-block .cank-dropdown-hover .cank-dropdown-content,.cank-bar-block .cank-dropdown-click .cank-dropdown-content{min-width:100%}
.cank-bar-block .cank-dropdown-hover .cank-button,.cank-bar-block .cank-dropdown-click .cank-button{width:100%;text-align:left;padding:8px 16px}
.cank-main,#main{transition:margin-left .4s}
.cank-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.cank-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.cank-bar{width:100%;overflow:hidden}.cank-center .cank-bar{display:inline-block;width:auto}
.cank-bar .cank-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.cank-bar .cank-dropdown-hover,.cank-bar .cank-dropdown-click{position:static;float:left}
.cank-bar .cank-button{white-space:normal}
.cank-bar-block .cank-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.cank-bar-block.cank-center .cank-bar-item{text-align:center}.cank-block{display:block;width:100%}
.cank-responsive{display:block;overflow-x:auto}
.cank-right .icon {display: none;}
/*@media (max-width: 600px) {.cank-right{ display: none; }.cank-menu2 { display: inline-block; } .cank-menu2 .icon {display: absolute;}} */
@media screen and (max-width: 240px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 240px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.cank-container:after,.cank-container:before,.cank-panel:after,.cank-panel:before,.cank-row:after,.cank-row:before,.cank-row-padding:after,.cank-row-padding:before,
.cank-cell-row:before,.cank-cell-row:after,.cank-clear:after,.cank-clear:before,.cank-bar:before,.cank-bar:after{content:"";display:table;clear:both}
.cank-col,.cank-half,.cank-third,.cank-twothird,.cank-threequarter,.cank-quarter{float:left;width:100%}
.cank-col.s1{width:8.33333%}.cank-col.s2{width:16.66666%}.cank-col.s3{width:24.99999%}.cank-col.s4{width:33.33333%}
.cank-col.s5{width:41.66666%}.cank-col.s6{width:49.99999%}.cank-col.s7{width:58.33333%}.cank-col.s8{width:66.66666%}
.cank-col.s9{width:74.99999%}.cank-col.s10{width:83.33333%}.cank-col.s11{width:91.66666%}.cank-col.s12{width:99.99999%}
@media (min-width:601px){.cank-col.m1{width:8.33333%}.cank-col.m2{width:16.66666%}.cank-col.m3,.cank-quarter{width:24.99999%}.cank-col.m4,.cank-third{width:33.33333%}
.cank-col.m5{width:41.66666%}.cank-col.m6,.cank-half{width:49.99999%}.cank-col.m7{width:58.33333%}.cank-col.m8,.cank-twothird{width:66.66666%}
.cank-col.m9,.cank-threequarter{width:74.99999%}.cank-col.m10{width:83.33333%}.cank-col.m11{width:91.66666%}.cank-col.m12{width:99.99999%}}
@media (min-width:993px){.cank-col.l1{width:8.33333%}.cank-col.l2{width:16.66666%}.cank-col.l3{width:24.99999%}.cank-col.l4{width:33.33333%}
.cank-col.l5{width:41.66666%}.cank-col.l6{width:49.99999%}.cank-col.l7{width:58.33333%}.cank-col.l8{width:66.66666%}
.cank-col.l9{width:74.99999%}.cank-col.l10{width:83.33333%}.cank-col.l11{width:91.66666%}.cank-col.l12{width:99.99999%}}
.cank-rest{overflow:hidden}.cank-stretch{margin-left:-16px;margin-right:-16px}
.cank-content,.cank-auto{margin-left:auto;margin-right:auto}.cank-content{max-width:980px}.cank-auto{max-width:1140px}
.cank-cell-row{display:table;width:100%}.cank-cell{display:table-cell}
.cank-cell-top{vertical-align:top}.cank-cell-middle{vertical-align:middle}.cank-cell-bottom{vertical-align:bottom}
.cank-hide{display:none!important}.cank-show-block,.cank-show{display:block!important}.cank-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.cank-auto{max-width:100%}}
@media (max-width:480px){.cank-modal-content{margin:0 10px;width:auto!important}.cank-modal{padding-top:30px}
.cank-dropdown-hover.cank-mobile .cank-dropdown-content,.cank-dropdown-click.cank-mobile .cank-dropdown-content{position:relative}	
.cank-hide-small{display:none!important}.cank-mobile{display:block;width:100%!important}.cank-bar-item.cank-mobile,.cank-dropdown-hover.cank-mobile,.cank-dropdown-click.cank-mobile{text-align:center}
.cank-dropdown-hover.cank-mobile,.cank-dropdown-hover.cank-mobile .cank-btn,.cank-dropdown-hover.cank-mobile .cank-button,.cank-dropdown-click.cank-mobile,.cank-dropdown-click.cank-mobile .cank-btn,.cank-dropdown-click.cank-mobile .cank-button{width:100%}}
@media (max-width:768px){.cank-modal-content{width:500px}.cank-modal{padding-top:50px}}
@media (min-width:993px){.cank-modal-content{width:900px}.cank-hide-large{display:none!important}.cank-sidebar.cank-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.cank-hide-medium{display:none!important}}
@media (max-width:992px){.cank-sidebar.cank-collapse{display:none}.cank-main{margin-left:0!important;margin-right:0!important}.cank-auto{max-width:100%}}
.cank-top,.cank-bottom{position:fixed;width:100%;z-index:1}.cank-top{top:0}.cank-bottom{bottom:0}
.cank-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.cank-overlay-content {position: relative;top: 46%;width: 80%;text-align: center;margin-top: 30px;margin: auto;}
.cank-overlay input[type=text] {padding: 15px;font-size: 17px;border: none;float: left;width: 80%;background: white;}
.cank-overlay input[type=text]:hover {background: #f1f1f1;}
.cank-overlay button {float: left;width: 20%;padding: 15px;background: #ddd;font-size: 17px;border: none;cursor: pointer;}
.cank-overlay button:hover {background: #bbb;}
.closebtn {position: absolute;top: 20px;right: 45px;font-size: 60px;cursor: pointer;color: white;}
.cank-display-topleft{position:absolute;left:0;top:0}.cank-display-topright{position:absolute;right:0;top:0}
.cank-display-bottomleft{position:absolute;left:0;bottom:0}.cank-display-bottomright{position:absolute;right:0;bottom:0}
.cank-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.cank-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.cank-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.cank-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.cank-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.cank-display-container:hover .cank-display-hover{display:block}.cank-display-container:hover span.cank-display-hover{display:inline-block}.cank-display-hover{display:none}
.cank-display-position{position:absolute}
.cank-circle{border-radius:50%}
.cank-round-small{border-radius:2px}.cank-round,.cank-round-medium{border-radius:4px}.cank-round-large{border-radius:8px}.cank-round-xlarge{border-radius:16px}.cank-round-xxlarge{border-radius:32px}
.cank-row-padding,.cank-row-padding>.cank-half,.cank-row-padding>.cank-third,.cank-row-padding>.cank-twothird,.cank-row-padding>.cank-threequarter,.cank-row-padding>.cank-quarter,.cank-row-padding>.cank-col{padding:0 8px}
.cank-container,.cank-panel{padding:0.01em 16px}.cank-panel{margin-top:16px;margin-bottom:16px}
.cank-code,.cank-codespan{font-family:Consolas,"courier new";font-size:16px}
.cank-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.cank-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.cank-card,.cank-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.cank-card-4,.cank-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.cank-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.cank-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.cank-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.cank-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.cank-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.cank-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.cank-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.cank-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.cank-animate-input{transition:width 0.4s ease-in-out}.cank-animate-input:focus{width:100%!important}
.cank-opacity,.cank-hover-opacity:hover{opacity:0.60}.cank-opacity-off,.cank-hover-opacity-off:hover{opacity:1}
.cank-opacity-max{opacity:0.25}.cank-opacity-min{opacity:0.75}
.cank-greyscale-max,.cank-grayscale-max,.cank-hover-greyscale:hover,.cank-hover-grayscale:hover{filter:grayscale(100%)}
.cank-greyscale,.cank-grayscale{filter:grayscale(75%)}.cank-greyscale-min,.cank-grayscale-min{filter:grayscale(50%)}
.cank-sepia{filter:sepia(75%)}.cank-sepia-max,.cank-hover-sepia:hover{filter:sepia(100%)}.cank-sepia-min{filter:sepia(50%)}
.cank-tiny{font-size:10px!important}.cank-small{font-size:12px!important}.cank-medium{font-size:15px!important}.cank-large{font-size:18px!important}
.cank-xlarge{font-size:24px!important}.cank-xxlarge{font-size:36px!important}.cank-xxxlarge{font-size:48px!important}.cank-jumbo{font-size:64px!important}
.cank-left-align{text-align:left!important}.cank-right-align{text-align:right!important}.cank-justify{text-align:justify!important}.cank-center{text-align:center!important}
.cank-border-0{border:0!important}.cank-border{border:1px solid #ccc!important}
.cank-border-top{border-top:1px solid #ccc!important}.cank-border-bottom{border-bottom:1px solid #ccc!important}
.cank-border-left{border-left:1px solid #ccc!important}.cank-border-right{border-right:1px solid #ccc!important}
.cank-topbar{border-top:6px solid #ccc!important}.cank-bottombar{border-bottom:6px solid #ccc!important}
.cank-leftbar{border-left:6px solid #ccc!important}.cank-rightbar{border-right:6px solid #ccc!important}
.cank-section,.cank-code{margin-top:16px!important;margin-bottom:16px!important}
.cank-margin{margin:16px!important}.cank-margin-top{margin-top:16px!important}.cank-margin-bottom{margin-bottom:16px!important}
.cank-margin-left{margin-left:16px!important}.cank-margin-right{margin-right:16px!important}
.cank-padding-small{padding:4px 8px!important}.cank-padding{padding:8px 16px!important}.cank-padding-large{padding:12px 24px!important}
.cank-padding-16{padding-top:16px!important;padding-bottom:16px!important}.cank-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.cank-padding-32{padding-top:32px!important;padding-bottom:32px!important}.cank-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.cank-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.cank-left{float:left!important}.cank-right{float:right!important}
.cank-button:hover{color:#000!important;background-color:#ccc!important}
.cank-transparent,.cank-hover-none:hover{background-color:transparent!important}
.cank-hover-none:hover{box-shadow:none!important}

/* Colors */
.cank-amber,.cank-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.cank-aqua,.cank-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.cank-blue,.cank-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.cank-light-blue,.cank-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.cank-brown,.cank-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.cank-cyan,.cank-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.cank-blue-grey,.cank-hover-blue-grey:hover,.cank-blue-gray,.cank-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.cank-green,.cank-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.cank-light-green,.cank-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.cank-indigo,.cank-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.cank-khaki,.cank-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.cank-lime,.cank-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.cank-orange,.cank-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.cank-deep-orange,.cank-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.cank-pink,.cank-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.cank-purple,.cank-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.cank-deep-purple,.cank-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.cank-red,.cank-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.cank-sand,.cank-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.cank-teal,.cank-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.cank-yellow,.cank-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.cank-white,.cank-hover-white:hover{color:#000!important;background-color:#fff!important}
.cank-black,.cank-hover-black:hover{color:#fff!important;background-color:#000!important}
.cank-grey,.cank-hover-grey:hover,.cank-gray,.cank-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.cank-light-grey,.cank-hover-light-grey:hover,.cank-light-gray,.cank-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.cank-dark-grey,.cank-hover-dark-grey:hover,.cank-dark-gray,.cank-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.cank-pale-red,.cank-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.cank-pale-green,.cank-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.cank-pale-yellow,.cank-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.cank-pale-blue,.cank-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.cank-text-amber,.cank-hover-text-amber:hover{color:#ffc107!important}
.cank-text-aqua,.cank-hover-text-aqua:hover{color:#00ffff!important}
.cank-text-blue,.cank-hover-text-blue:hover{color:#2196F3!important}
.cank-text-light-blue,.cank-hover-text-light-blue:hover{color:#87CEEB!important}
.cank-text-brown,.cank-hover-text-brown:hover{color:#795548!important}
.cank-text-cyan,.cank-hover-text-cyan:hover{color:#00bcd4!important}
.cank-text-blue-grey,.cank-hover-text-blue-grey:hover,.cank-text-blue-gray,.cank-hover-text-blue-gray:hover{color:#607d8b!important}
.cank-text-green,.cank-hover-text-green:hover{color:#4CAF50!important}
.cank-text-light-green,.cank-hover-text-light-green:hover{color:#8bc34a!important}
.cank-text-indigo,.cank-hover-text-indigo:hover{color:#3f51b5!important}
.cank-text-khaki,.cank-hover-text-khaki:hover{color:#b4aa50!important}
.cank-text-lime,.cank-hover-text-lime:hover{color:#cddc39!important}
.cank-text-orange,.cank-hover-text-orange:hover{color:#ff9800!important}
.cank-text-deep-orange,.cank-hover-text-deep-orange:hover{color:#ff5722!important}
.cank-text-pink,.cank-hover-text-pink:hover{color:#e91e63!important}
.cank-text-purple,.cank-hover-text-purple:hover{color:#9c27b0!important}
.cank-text-deep-purple,.cank-hover-text-deep-purple:hover{color:#673ab7!important}
.cank-text-red,.cank-hover-text-red:hover{color:#f44336!important}
.cank-text-sand,.cank-hover-text-sand:hover{color:#fdf5e6!important}
.cank-text-teal,.cank-hover-text-teal:hover{color:#009688!important}
.cank-text-yellow,.cank-hover-text-yellow:hover{color:#d2be0e!important}
.cank-text-white,.cank-hover-text-white:hover{color:#fff!important}
.cank-text-black,.cank-hover-text-black:hover{color:#000!important}
.cank-text-grey,.cank-hover-text-grey:hover,.cank-text-gray,.cank-hover-text-gray:hover{color:#757575!important}
.cank-text-light-grey,.cank-hover-text-light-grey:hover,.cank-text-light-gray,.cank-hover-text-light-gray:hover{color:#f1f1f1!important}
.cank-text-dark-grey,.cank-hover-text-dark-grey:hover,.cank-text-dark-gray,.cank-hover-text-dark-gray:hover{color:#3a3a3a!important}
.cank-border-amber,.cank-hover-border-amber:hover{border-color:#ffc107!important}
.cank-border-aqua,.cank-hover-border-aqua:hover{border-color:#00ffff!important}
.cank-border-blue,.cank-hover-border-blue:hover{border-color:#2196F3!important}
.cank-border-light-blue,.cank-hover-border-light-blue:hover{border-color:#87CEEB!important}
.cank-border-brown,.cank-hover-border-brown:hover{border-color:#795548!important}
.cank-border-cyan,.cank-hover-border-cyan:hover{border-color:#00bcd4!important}
.cank-border-blue-grey,.cank-hover-border-blue-grey:hover,.cank-border-blue-gray,.cank-hover-border-blue-gray:hover{border-color:#607d8b!important}
.cank-border-green,.cank-hover-border-green:hover{border-color:#4CAF50!important}
.cank-border-light-green,.cank-hover-border-light-green:hover{border-color:#8bc34a!important}
.cank-border-indigo,.cank-hover-border-indigo:hover{border-color:#3f51b5!important}
.cank-border-khaki,.cank-hover-border-khaki:hover{border-color:#f0e68c!important}
.cank-border-lime,.cank-hover-border-lime:hover{border-color:#cddc39!important}
.cank-border-orange,.cank-hover-border-orange:hover{border-color:#ff9800!important}
.cank-border-deep-orange,.cank-hover-border-deep-orange:hover{border-color:#ff5722!important}
.cank-border-pink,.cank-hover-border-pink:hover{border-color:#e91e63!important}
.cank-border-purple,.cank-hover-border-purple:hover{border-color:#9c27b0!important}
.cank-border-deep-purple,.cank-hover-border-deep-purple:hover{border-color:#673ab7!important}
.cank-border-red,.cank-hover-border-red:hover{border-color:#f44336!important}
.cank-border-sand,.cank-hover-border-sand:hover{border-color:#fdf5e6!important}
.cank-border-teal,.cank-hover-border-teal:hover{border-color:#009688!important}
.cank-border-yellow,.cank-hover-border-yellow:hover{border-color:#ffeb3b!important}
.cank-border-white,.cank-hover-border-white:hover{border-color:#fff!important}
.cank-border-black,.cank-hover-border-black:hover{border-color:#000!important}
.cank-border-grey,.cank-hover-border-grey:hover,.cank-border-gray,.cank-hover-border-gray:hover{border-color:#9e9e9e!important}
.cank-border-light-grey,.cank-hover-border-light-grey:hover,.cank-border-light-gray,.cank-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.cank-border-dark-grey,.cank-hover-border-dark-grey:hover,.cank-border-dark-gray,.cank-hover-border-dark-gray:hover{border-color:#616161!important}
.cank-border-pale-red,.cank-hover-border-pale-red:hover{border-color:#ffe7e7!important}.cank-border-pale-green,.cank-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.cank-border-pale-yellow,.cank-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.cank-border-pale-blue,.cank-hover-border-pale-blue:hover{border-color:#e7ffff!important}